.main
  %section.page-top
    .container
      .row
        .col-md-12
          %ul.breadcrumb
            %li
              %a{:href => "/"} Strona główna
            %li.active Wiadomości
      .row
        .col-md-12
          %h2 Wiadomości
  %hr.til