%footer#footer
  .container
    .row
      .footer-ribon
        %span= t('footer.header')
      .col-md-4
        .newsletter
          %h4 Newsletter
          %p Bądź zawsze na czasie. Podaj imię oraz email by zasubskrybować newsletter.
          %form.form{:method=>"POST", :action=>"https://www.benefiter.pl/save_user_form/", :target=>"_top" }
            .form-group
              %input{ :type=>"hidden", :name=>"aid", :value=>"19087"}    
              %input#email.form-control.col-md-12.col-sm-12{:name => "name", :placeholder => "Imię", :type => "text"}/
            .form-group
              %input#email.form-control.col-md-12.col-sm-12{:name => "email", :placeholder => "Adres email", :type => "text"}/
              %input{:name => "custom1", :type => "hidden", :value => ""}/
              %input{:name => "custom2", :type => "hidden", :value => ""}/
              %input{:name => "custom3", :type => "hidden", :value => ""}/
              %input{:name => "custom4", :type => "hidden", :value => ""}/
              %input{:name => "custom5", :type => "hidden", :value => ""}/
            .input-group
              %button.btn.btn-danger{:type => "submit"} Zapisz!    
      .col-md-5
        .contact-details
          %h4 Kontakt
          %ul.contact
            %li
              %p
                %i.icon.icon-phone
                %strong Telefon:
                790 691 371
            %li
              %p
                %i.icon.icon-envelope
                %strong Email:
                %a{:href => "mailto:mail@example.com"} przemek.4mm@gmail.com
      .col-md-3
        %h4= t('footer.follow')
        .social-icons
          %ul.social-icons
            %li.facebook
              %a{"data-placement" => "bottom", :href => "http://www.facebook.com/olesinski.przemyslaw", :rel => "tooltip", :target => "_blank", :title => "Facebook"} Facebook
            %li.googleplus
              %a{"data-placement" => "bottom", :href => "http://plus.google.com/+PrzemysławOlesiński/", :rel => "Google+", :target => "_blank", :title => "Google+"} Google +
            %li.linkedin
              %a{"data-placement" => "bottom", :href => "http://www.linkedin.com/in/przemyslawolesinski/", :rel => "tooltip", :target => "_blank", :title => "Linkedin"} Linkedin
  .footer-copyright
    .container
      .row
        .col-md-1
          %a.logo{:href => "index.html"}
            %img.img-responsive{:alt => "Porto Website Template", :src => "/img/logo-footer.png"}/
        .col-md-7
          %p © Copyright 2014. Wszystkie prawa zastrzeżone.
        .col-md-4
          %nav#sub-menu
            %ul
              %li
                = link_to "Mapa Strony", "#"
              %li
                = link_to "Kontakt", contact_path
